TaskManagerDataAccess/obj/Debug/net8.0/TaskManagerDataAccess.GlobalUsings.g.cs
TaskManagerDataAccess/obj/Debug/net8.0/TaskManagerDataAccess.GeneratedMSBuildEditorConfig.editorconfig
TaskManagerDataAccess/obj/Debug/net8.0/TaskManagerDataAccess.csproj.AssemblyReference.cache
TaskManagerDataAccess/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
TaskManagerDataAccess/obj/Debug/net8.0/TaskManagerDataAccess.AssemblyInfo.cs
TaskManagerDataAccess/obj/TaskManagerDataAccess.csproj.nuget.g.targets
TaskManagerDataAccess/obj/TaskManagerDataAccess.csproj.nuget.g.props
TaskManagerDataAccess/obj/Debug/net8.0/TaskManagerDataAccess.assets.cache
TaskManagerDataAccess/obj/Debug/net8.0/TaskManagerDataAccess.AssemblyInfoInputs.cache
TaskManagerDataAccess/obj/TaskManagerDataAccess.csproj.nuget.dgspec.json
TaskManagerDataAccess/obj/project.nuget.cache
TaskManagerDataAccess/obj/project.assets.json
TaskManagerDataAccess/bin/Debug/net8.0/TaskManagerDataAccess.dll
TaskManagerDataAccess/bin/Debug/net8.0/TaskManagerDataAccess.pdb
TaskManagerDataAccess/obj/Debug/net8.0/TaskManagerDataAccess.csproj.CoreCompileInputs.cache
TaskManagerDataAccess/obj/Debug/net8.0/TaskManagerDataAccess.dll
TaskManagerDataAccess/obj/Debug/net8.0/TaskManagerDataAccess.pdb
TaskManagerDataAccess/obj/Debug/net8.0/TaskManagerDataAccess.sourcelink.json
TaskManagerDataAccess/obj/Debug/net8.0/ref/TaskManagerDataAccess.dll
TaskManagerDataAccess/obj/Debug/net8.0/refint/TaskManagerDataAccess.dll
TaskManagerTest/bin/Debug/net8.0/TaskManagerDataAccess.dll
TaskManagerTest/bin/Debug/net8.0/TaskManagerDataAccess.pdb
TaskManagerTest/bin/Debug/net8.0/TaskManagerTest.dll
TaskManagerTest/bin/Debug/net8.0/TaskManagerTest.pdb
TaskManagerTest/obj/Debug/net8.0/TaskManagerTest.AssemblyInfo.cs
TaskManagerTest/obj/Debug/net8.0/TaskManagerTest.AssemblyInfoInputs.cache
TaskManagerTest/obj/Debug/net8.0/TaskManagerTest.csproj.AssemblyReference.cache
TaskManagerTest/obj/Debug/net8.0/TaskManagerTest.csproj.CoreCompileInputs.cache
TaskManagerTest/obj/Debug/net8.0/TaskManagerTest.dll
TaskManagerTest/obj/Debug/net8.0/TaskManagerTest.pdb
TaskManagerTest/obj/Debug/net8.0/TaskManagerTest.sourcelink.json
TaskManagerTest/obj/Debug/net8.0/ref/TaskManagerTest.dll
TaskManagerTest/obj/Debug/net8.0/refint/TaskManagerTest.dll