TaskManagerDataAccess/obj/Debug/net8.0/TaskManagerDataAccess.GlobalUsings.g.cs
TaskManagerDataAccess/obj/Debug/net8.0/TaskManagerDataAccess.GeneratedMSBuildEditorConfig.editorconfig
TaskManagerDataAccess/obj/Debug/net8.0/TaskManagerDataAccess.csproj.AssemblyReference.cache
TaskManagerDataAccess/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
TaskManagerDataAccess/obj/Debug/net8.0/TaskManagerDataAccess.AssemblyInfo.cs
TaskManagerDataAccess/obj/TaskManagerDataAccess.csproj.nuget.g.targets
TaskManagerDataAccess/obj/TaskManagerDataAccess.csproj.nuget.g.props
TaskManagerDataAccess/obj/Debug/net8.0/TaskManagerDataAccess.assets.cache
TaskManagerDataAccess/obj/Debug/net8.0/TaskManagerDataAccess.AssemblyInfoInputs.cache
TaskManagerDataAccess/obj/TaskManagerDataAccess.csproj.nuget.dgspec.json
TaskManagerDataAccess/obj/project.nuget.cache
TaskManagerDataAccess/obj/project.assets.json
